*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1170px;
    margin: 0 auto;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

.row{
    height: 200px;
    line-height: 200px;
}


.row [class*="col-"] {
   background-color: violet;
}

.row .row{
    padding: 10px;
}

.row .row [class*="col-"] {
    border: 1px solid #f00;
    background-color: lightblue;
 }